memorysetup-main-allocator-block-size=67108864
memorysetup-thread-allocator-block-size=67108864
memorysetup-cache-allocator-block-size=67108864
memorysetup-typetree-allocator-block-size=67108864
memorysetup-temp-allocator-size-main=33554432
memorysetup-job-temp-allocator-block-size=16777216
memorysetup-job-temp-allocator-block-size-background=1048576
memorysetup-temp-allocator-size-job-worker=1048576
